<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <button id="get" type="button">Добавить</button>
        <button id="sortc" type="button">Сортировать</button>
    </div>
    <div id="tableBlock"></div>
    <div id="editBlock">
        <h3><b>Edit Player</b></h3>
        <table>
            <tr><td><label>ID: </label></td><td><input type="number" id="ID" /></td></tr>
            <tr><td><label>Instrument: </label></td><td><input type="number" id="Instrument" /></td></tr>
            <tr><td><label>Type: </label></td><td><input type="text" id="Type" /></td></tr>
            <tr><td><label>Company: </label></td><td><input type="number" id="Company" /></td></tr>
            <tr><td><label>Name: </label></td><td><input type="text" id="Name" /></td></tr>
            <tr><td><label>Cost: </label></td><td><input type="number" id="Cost" /></td></tr>
        </table>
        <button id="editPlayer">Save</button>
    </div>
    <div class="col-md-4">
        <div id="add-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div id="createPlayer">
                            <h3><b>Add Player</b></h3>
                            <table>
                                <tr><td><label>Instrument: </label></td><td><input type="number" id="In" /></td></tr>
                                <tr><td><label>Type: </label></td><td><input type="text" id="Ty" /></td></tr>
                                <tr><td><label>Company: </label></td><td><input type="number" id="Co" /></td></tr>
                                <tr><td><label>Name: </label></td><td><input type="text" id="Na" /></td></tr>
                                <tr><td><label>Cost: </label></td><td><input type="number" id="Co" /></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button id="add-accept" type="button" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div id="editPlayer">
                            <h3><b>Edit Player</b></h3>
                            <table>
                                <tr><td><label>Instrument: </label></td><td><input type="text" id="eIn" /></td></tr>
                                <tr><td><label>Type: </label></td><td><input type="text" id="eTy" /></td></tr>
                                <tr><td><label>Company: </label></td><td><input type="text" id="eCo" /></td></tr>
                                <tr><td><label>Name: </label></td><td><input type="text" id="eNa" /></td></tr>
                                <tr><td><label>Cost: </label></td><td><input type="number" id="eCost" /></td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button id="edit-accept" type="button" class="btn btn-primary">Изменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <textarea id="searchfield"></textarea>
        <button id="find">найти</button>
    </div>
    <div>
        <button id="prev">Предыдущий</button>
        <button id="next">Следующий</button>
    </div>
</div>

@section scripts
{
   
    <script type="text/javascript">
        var page;
        var tab;
        var searchword;
        var max;
        $(document).ready(function () {
            //fillIn("1");
            page = 0;
            check = false;
            search("$", "0", page);
            $("#prev").click(function (event) {
                if (page != 0) { page = page - 1; }
                search(searchword, "0", page);
            });
            $("#next").click(function (event) {
                if ((page + 1) * 5 < max)
                    page = page + 1;
                search(searchword, "0", page);
            });
            $("#get").click(function (event) {
                Add();
            });
            $("#delItem").click(function (event) {
                DeleteItem(id);
            }
            );
            $("#find").click(function (event) {
                page = 0;
                searchword = $("#searchfield").val();
                if (searchword == "") { searchword = "$";}
                search(searchword,"0",page);
            });

            $("#sortc").click(function (event) {
                if (searchword == "") { searchword = "$"; }
                  search(searchword,col,page); 
            });
            $("#edit").click(function (event) {
                EditItem(i);
            });

        });
        function fillIn(i) {
            $.ajax({
                url: '/api/base/fill/' + i,
                type: 'GET',
                processData: true,
                dataType: 'json',
                data: {
                },
                success: function (data) {
                    filling(data,i);
                },
                error: function (error) {
                    alert(error.message);
                }
            });

        };
        function EditItem(i)
        {
            $("#edit-modal").modal('show');
            $('#edit-accept').on('click', () => {
                var product = {
                    ID: i,
                    Instrument: $('#eIn').val(),
                    Type: $('#eTy').val(),
                    Company: $('#eCo').val(),
                    Name: $('#eNa').val(),
                    Cost: $('#eCost').val(),
                };
                $.ajax({
                    url: 'api/base/up/',
                    //url: '/api/values/getAll/',
                    type: 'POST',
                    data: JSON.stringify(product),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        $('#add-modal').modal('hide');
                        $('#add-accept').off('click')
                    },
                    error: function (error) {
                        alert(error.message);
                    }
                });
            });

        };
        function search(a,i,page)
        {
                $("#createBlock").css('display', 'block');
                $("#editBlock").css('display', 'none');
                $.ajax({
                    url: '/api/base/search/'+a+'/'+i+'/'+page,
                    type: 'GET',
                    processData: true,
                    dataType: 'json',
                    data: {
                    },
                    success: function (data) {
                        WriteResponse(data);
                    },
                    error: function (error) {
                        alert(error.message);
                    }
                });
        }
        function Add() {
            $('#add-modal').modal('show');

            $('#add-accept').on('click', () => {
                var product = {
                    Instrument: $('#In').val(),
                    Type: $('#Ty').val(),
                    Company: $('#Co').val(),
                    Name: $('#Na').val(),
                    Cost: $('#Co').val(),
                };
                $.ajax({
                    url: '/api/values/',
                   //url: '/api/values/getAll/',
                    type: 'POST',
                    data: JSON.stringify(product),
                    contentType: "application/json;charset=utf-8",
                    success: function (data) {
                        $('#add-modal').modal('hide');
                        $('#add-accept').off('click')
                    },
                    error: function (error) {
                        alert(error.message);
                    }
                });
            })
        }

        function DeleteItem(id) {
            $.ajax({
                url: 'api/base/del/' +id ,
                type: 'PUT',
                processData: true,
                dataType: 'json',
                data: {
                },
                success: function (data) {

                },
                error: function (error) {

                }
            });

        }

       function GetAll() {

            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: '/api/base/',
              //  url: '/api/values/getAll/',
                type: 'GET',
                processData: true,
                dataType: 'json',
                data: {
                },
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (error) {
                    alert(error.message);
                }
            });
        }
        function WriteResponse(item) {
            i = 0;
            var strResult = "<table id='table'><th><button id='sortcom' onclick='search(searchword,0,page)'>ID</button></th><th data-type='header'><button id='sortcom' onclick='search(searchword,4,page)'>Instrument</button></th><th><button id='sortcom' onclick='search(searchword,5,page)'>Type</button></th><th data-type='header'><button id='sortcom' onclick='search(searchword,1,page)'>Company</button></th><th><button id='sortcom' onclick='search(searchword,3,page)'>Name</button></th><th><button id='sortcom' onclick='search(searchword,2,page)'>Cost</button></th>";
            $(item).each(function (index, prod) {
                i = i + 1;
                strResult += "<tr id='it1'><td id='id1'>" + prod.id + "</td><td> " + prod.instrument + "</td><td>" + prod.type + "</td><td>" + prod.company
                    + "</td><td id='name1'>" + prod.name + "</td><td id='price'>" + prod.cost +
                    "</td><td><button id='edit' name='" + prod.id + "' onclick='EditItem(" +prod.id+");' >Edit</button></td>" +
                    "<td><button id='delItem' name='" + prod.id + "' onclick='DeleteItem(" + prod.id + ");' >Delete</button></td></tr>";
                max = prod.count;
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);
            
        }
        
    </script>




}
